{% extends 'tgbot/base.html' %}

{% block content %}

<div class="navbar-nav align-items-center ms-auto">
    <form action="{% url 'profile_list' %}" method="get" id="sortProductById">
        <input type="hidden" name="orderby" value="status" />
    </form>
    <form action="{% url 'profile_list' %}" method="get" id="sortProductByPrice">
        <input type="hidden" name="orderby" value="salary_await"/>
    </form>
    <form action="{% url 'profile_list' %}" method="get" id="sortProductByPriceB">
        <input type="hidden" name="orderby" value="-salary_await"/>
    </form>

    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <!-- <i class="fa fa-envelope me-lg-2"></i>                 -->
            <span class="d-none d-lg-inline-flex">Сортировка</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
            <a class="dropdown-item" href="#" title="Сброс сортировки" onclick="document.getElementById('sortProductById').submit();">По статусу</a>
            <a class="dropdown-item" href="#" title="Сортировка по возрастанию цены" onclick="document.getElementById('sortProductByPrice').submit();">Дешевле</a>
            <a class="dropdown-item" href="#" title="Сортировка по убыванию цены" onclick="document.getElementById('sortProductByPriceB').submit();">Дороже</a>       
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">




    <div class="row g-4">
  <div class="col-12">
     <div class="bg-light rounded h-100 p-4">
         <h6 class="mb-4">Кандидаты</h6>



         <div class="table-responsive">
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th scope="col">№</th>
                         <th scope="col">Статус</th>
                         <th scope="col">Имя Фамилия</th>
                         <th scope="col">Телефон</th>
                         <th scope="col">Причина поиска</th>
                         <th scope="col">Опыт</th>
                         <th scope="col">Ожидания по ЗП</th>
                         <th scope="col">Ценности</th>
                         <th scope="col">Edited date</th>
                     </tr>
                 </thead>
                 <tbody>
{% for profile in profiles %}
                     <tr data-href="{% url 'profile_detail' profile.pk %}">
                         <th scope="row">{{ profile.pk }}</th>
                         <td>{{ profile.get_status_display }}</td>
                         <td>{{ profile.name_family }}</td>
                         <td>{{ profile.phone }}</td>
                         <td>
    {% if profile.working %}
        {{ profile.working| truncatewords:3 }}
    {% else %}
        Безработный
    {% endif %}
                         </td>
                         <td>{{ profile.exp| safe }}</td>
                         <td>{{ profile.salary_await }}</td>
                         <td>{{ profile.emp_values| safe }}</td>
                         <td>Date</td>
                     </tr>
{% endfor %}
                 </tbody>
             </table>
         </div>
     </div>
 </div>
</div>
</div>
<!-- User's own End -->
{% endblock %}