{% extends 'tgbot/base.html' %}

{% block content %}
<div class="row g-4">
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
  <div class="col-12">
     <div class="bg-light rounded h-100 p-4">
         <h6 class="mb-4">Кандидаты</h6>
         <div class="table-responsive">
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th scope="col">№</th>
                         <th scope="col">Статус</th>
                         <th scope="col">Имя Фамилия</th>
                         <th scope="col">Телефон</th>
                         <th scope="col">Причина поиска</th>
                         <th scope="col">Опыт</th>
                         <th scope="col">Ожидания по ЗП</th>
                         <th scope="col">Ценности</th>
                         <th scope="col">Edited date</th>
                     </tr>
                 </thead>
                 <tbody>
{% for profile in profiles %}
                     <tr data-href="{% url 'tgbot:profile_detail' profile.pk %}">
                         <th scope="row">{{ profile.pk }}</th>
                         <td>{{ profile.get_status_display }}</td>
                         <td>{{ profile.name_family }}</td>
                         <td>{{ profile.phone }}</td>
                         <td>
    {% if profile.working %}
        {{ profile.working| truncatewords:3 }}
    {% else %}
        Безработный
    {% endif %}
                         </td>
                         <td>{{ profile.exp| safe }}</td>
                         <td>{{ profile.salary_await }}</td>
                         <td>{{ profile.emp_values| safe }}</td>
                         <td>Date</td>
                     </tr>
{% endfor %}
                 </tbody>
             </table>
         </div>
     </div>
 </div>
</div>
</div>
<div class="d-flex align-items-center justify-content-center mb-4">
    <div class="bg-light rounded h-100 p-4">
    <div class="nav-item">
        <p class="nav-item">
            <span class="d-none d-lg-inline-flex">Фильтры</span>
        </p>
    </div>

    <div class="nav-item dropdown">
        <form method="get" action="{% url 'tgbot:profile_list' %}">
            <select class="form-select" name="status"> <!--Supplement an id here instead of using 'name'-->
                {% for stat in statuses %}   
                    {% if stat.0 == status %}                 
                        <option value="{{stat.0}}" selected>{{stat.1}}</option>
                    {% else %}
                        <option value="{{stat.0}}">{{stat.1}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select class="form-select" name="vacancy"> <!--Supplement an id here instead of using 'name'-->
                {% for vac in vacancies %}
                    {% if vac.id == vacancy %}  
                        <option value="{{vac.id}}" selected>{{vac.title}}</option>
                    {% else %}
                        <option value="{{vac.id}}">{{vac.title}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div>
                <input class="btn btn-outline-secondary m-2" type="submit" name="submit" value="Применить"/>
            
                <a class="btn btn-outline-secondary m-2" href="{% url 'tgbot:profile_export' %}?{% for prof in profiles %}profs={{prof.pk}}&{% endfor %}">Скачать XLSX</a>
            </div>
        </form>
    </div>
    </div>

</div>
</div>
<!-- User's own End -->
{% endblock %}