{% extends 'tgbot/base.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

      <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">

           <h6 class="mb-4">Вакансия {{ vacancy.pk }}</h6>
           <hr>
           <dl class="row mb-0">
                <dt class="col-sm-4">Название:</dt>
                <dd class="col-sm-8"><strong>{{ vacancy.title }}</strong></dd>

                <dt class="col-sm-4">Описание:</dt>
                <dd class="col-sm-8">{{ vacancy.description }}</dd>

                <dt class="col-sm-4">Активна:</dt>
                <dd class="col-sm-8">
                {% if vacancy.is_active %}
                    Да
                {% else %}
                    Нет
                {% endif %}
                </dd>
           </dl>
           <hr>
           <a class="btn btn-outline-secondary m-2" href="{% url 'tgbot:vacancy_update' vacancy.pk %}">Редактировать</a>
       </div>
    </div>
  </div>
</div>
{% endblock %}